<%- include("partials/header.ejs") %>

<!-- seccion principal de la tarjeta de la app -->


    <div class="container dentro card">
      
      <div class="icono tabla">
        <img class="icon" src="<%=data.condition.icon%>" alt="<%=data.condition.text%>">
      </div>
      <div class="temp tabla">
        <p class="card-text">
          <%=data.temp_c%> °C
        </p>
      </div>
      <div class="tabla">
        <p>Sensación Termica</p>
      </div>
      <div class="tabla">
        <p>
          <%=data.feelslike_c %> °C
        </p>
      </div>
      <div class="tabla">
        <p>Viento</p>
      </div>
      <div class="tabla">
        <p>
          <%= data.wind_kph %> KMH
            <%=data.wind_dir %>
        </p>
      </div>
      <div class="tabla">
        <p>Humedad</p>
      </div>
      <div class="tabla">
        <p>
          <%=data.humidity%> %
        </p>
      </div>
      <div class="tabla">
        <p>UV</p>
      </div>
      <div class="tabla">
  
        <% if (data.uv>0&&data.uv<4) { %>
            <p>Bajo</p>
            <% }else if(data.uv>4&&data.uv<6){%>
                <p>Moderado</p>
                <% }else if(data.uv>5&&data.uv<8){ %>
                    <p>Alto</p>
                    <% }else if(data.uv>7&&data.uv<11){ %>
                        <p>Muy Alto</p>
                        <% }else if(data.uv>10){ %>
                          <p>Extremo</p>
                          <% } %>
      </div>
  
  
  
  
  
    </div>
  
  
  </body>


</html>
<%- include("partials/footer.ejs") %>