<%- include("partials/header.ejs") %>

<!-- seccion principal de la tarjeta de la app -->


    <div class="container dentro card">
      
      <div class="icono tabla">
        <img class="icon" src="<%=data.condition.icon%>" alt="<%=data.condition.text%>">
      </div>
      <div class="temp tabla">
        <p class="card-text">
          <%=data.temp_f%> °F
        </p>
      </div>
      <div class="tabla">
        <p>Feel Like</p>
      </div>
      <div class="tabla">
        <p>
          <%=data.feelslike_f %>
        </p>
      </div>
      <div class="tabla">
        <p>Wind</p>
      </div>
      <div class="tabla">
        <p>
          <%= data.wind_mph %>
            <%=data.wind_dir %>
        </p>
      </div>
      <div class="tabla">
        <p>Humidity</p>
      </div>
      <div class="tabla">
        <p>
          <%=data.humidity%>
        </p>
      </div>
      <div class="tabla">
        <p>UV</p>
      </div>
      <div class="tabla">
  
        <% if (data.uv>0&&data.uv<4) { %>
            <p>Low</p>
            <% }else if(data.uv>4&&data.uv<6){%>
                <p>Moderate</p>
                <% }else if(data.uv>5&&data.uv<8){ %>
                    <p>High</p>
                    <% }else if(data.uv>7&&data.uv<11){ %>
                        <p>Very High</p>
                        <% }else if(data.uv>10){ %>
                          <p>Extrem</p>
                          <% } %>
      </div>
  
  
  
  
  
    </div>
  
  
  </body>


</html>
<%- include("partials/footer.ejs") %>